
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --blue: #3882f6;
    --gray: #E5e7eb;
    --blue-dark: #1f2937; 
    --white: #fff;
}

body {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}

/* UTILITY CLASSES */

.container {
    width: 90%;
    margin: 0 auto;
}

.container--sm {
    max-width: 1070px ;
}

.container--lg {
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: var(--blue);
    font-weight: bold;
    letter-spacing: .7px;
    padding: 1em 2em;
    border-radius: 100px;
}

/* TIPOGRAPHY */
.hero__title {
    line-height: 1;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.cats__title {
    font-size: 30px;
    color: var(--blue-dark);
    text-align: center;
    margin-bottom: 4rem;
}


/* ELEMENTS */

a {
    display: inline-block;
    font-size: 1.1rem;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    opacity: .7;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 2rem;
}

section {
    padding: 4rem 0;
}

/* SECTIONS */

.header {
    background-color: var(--blue-dark);
    padding-top: 2rem;
}

.logo {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: .3px;
}

/* hero */

.hero {
    background-color: var(--blue-dark);
    color: var(--white);
}

.hero__text {
    font-size: 21px;
    max-width: 40%;
}

.hero__img {
    max-width: 600px;
    border-radius: 1000px;
    overflow: hidden;
}

.hero__p {
    margin-bottom: 2rem;
}


/* CATS */
.cta, .cats {
    background-color: var(--white);
}

.cats__box {
    align-items: flex-start;
}

.cat__card {
    max-width: 220px;
    flex-grow: 1;
}

.cat__img {
    border: 5px solid var(--blue);
    border-radius: 20px;
    max-height: 220px;
    overflow: hidden;
}

.cat__bride {
    text-align: center;
    font-size: 13px;
}


/* quote */

.quote {
    background-color: var(--gray);
    padding: 7rem 0;
}

.quote__text {
    font-size: 20px;
}

.author {
    text-align: right;
    font-weight: bold;
    letter-spacing: 0.5px;
}


/* CTA */
.container--blue {
    background-color: var(--blue);
    color: var(--white);
    padding: 2.5rem 0;
    border-radius: 10px;
}

.btn--outlined {
    border: 2px solid var(--white);
    flex-shrink: 0;
}


/* FOOTER */
.footer {
    background-color: var(--blue-dark);
    text-align: center;
    color: var(--white);
    padding: 1.5rem 0;
}

.footer__p {
    margin: 0;
}